/Threads/threads_5/nbproject/private/
/Threads/threads_5/build/
/JPA/jpaPrueba/target/
/prueba/nbproject/private/
/prueba/build/
/jpaPrueba/target/
/Login/target/
/JPA/jpaPrueba2/target/
/JPA/jpaProyecto1/target/
